@import '~antd/dist/antd.css';
@import '~sanitize.css/sanitize.css';

@font-face {
  font-family: 'Avenir';
  src: url('../../assets/fonts/edefe737-dc78-4aa3-ad03-3c6f908330ed.eot?#iefix');
  src: url('../../assets/fonts/edefe737-dc78-4aa3-ad03-3c6f908330ed.eot?#iefix')
      format('eot'),
    url('../../assets/fonts/0078f486-8e52-42c0-ad81-3c8d3d43f48e.woff2')
      format('woff2'),
    url('../../assets/fonts/908c4810-64db-4b46-bb8e-823eb41f68c0.woff')
      format('woff'),
    url('../../assets/fonts/4577388c-510f-4366-addb-8b663bcc762a.ttf')
      format('truetype');
  font-weight: 100;
}

@font-face {
  font-family: 'Avenir';
  src: url('../../assets/fonts/edefe737-dc78-4aa3-ad03-3c6f908330ed.eot?#iefix');
  src: url('../../assets/fonts/edefe737-dc78-4aa3-ad03-3c6f908330ed.eot?#iefix')
      format('eot'),
    url('../../assets/fonts/0078f486-8e52-42c0-ad81-3c8d3d43f48e.woff2')
      format('woff2'),
    url('../../assets/fonts/908c4810-64db-4b46-bb8e-823eb41f68c0.woff')
      format('woff'),
    url('../../assets/fonts/4577388c-510f-4366-addb-8b663bcc762a.ttf')
      format('truetype');
  font-weight: 200;
}

@font-face {
  font-family: 'Avenir';
  src: url('../../assets/fonts/edefe737-dc78-4aa3-ad03-3c6f908330ed.eot?#iefix');
  src: url('../../assets/fonts/edefe737-dc78-4aa3-ad03-3c6f908330ed.eot?#iefix')
      format('eot'),
    url('../../assets/fonts/0078f486-8e52-42c0-ad81-3c8d3d43f48e.woff2')
      format('woff2'),
    url('../../assets/fonts/908c4810-64db-4b46-bb8e-823eb41f68c0.woff')
      format('woff'),
    url('../../assets/fonts/4577388c-510f-4366-addb-8b663bcc762a.ttf')
      format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Avenir';
  src: url('../../assets/fonts/e0542193-b2e6-4273-bc45-39d4dfd3c15b.eot?#iefix');
  src: url('../../assets/fonts/e0542193-b2e6-4273-bc45-39d4dfd3c15b.eot?#iefix')
      format('eot'),
    url('../../assets/fonts/17b90ef5-b63f-457b-a981-503bb7afe3c0.woff2')
      format('woff2'),
    url('../../assets/fonts/c9aeeabd-dd65-491d-b4be-3e0db9ae47a0.woff')
      format('woff'),
    url('../../assets/fonts/25f994de-d13f-4a5d-a82b-bf925a1e054d.ttf')
      format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Avenir';
  src: url('../../assets/fonts/e0542193-b2e6-4273-bc45-39d4dfd3c15b.eot?#iefix');
  src: url('../../assets/fonts/e0542193-b2e6-4273-bc45-39d4dfd3c15b.eot?#iefix')
      format('eot'),
    url('../../assets/fonts/17b90ef5-b63f-457b-a981-503bb7afe3c0.woff2')
      format('woff2'),
    url('../../assets/fonts/c9aeeabd-dd65-491d-b4be-3e0db9ae47a0.woff')
      format('woff'),
    url('../../assets/fonts/25f994de-d13f-4a5d-a82b-bf925a1e054d.ttf')
      format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('../../assets/fonts/e0542193-b2e6-4273-bc45-39d4dfd3c15b.eot?#iefix');
  src: url('../../assets/fonts/e0542193-b2e6-4273-bc45-39d4dfd3c15b.eot?#iefix')
      format('eot'),
    url('../../assets/fonts/17b90ef5-b63f-457b-a981-503bb7afe3c0.woff2')
      format('woff2'),
    url('../../assets/fonts/c9aeeabd-dd65-491d-b4be-3e0db9ae47a0.woff')
      format('woff'),
    url('../../assets/fonts/25f994de-d13f-4a5d-a82b-bf925a1e054d.ttf')
      format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Avenir';
  src: url('../../assets/fonts/e0542193-b2e6-4273-bc45-39d4dfd3c15b.eot?#iefix');
  src: url('../../assets/fonts/e0542193-b2e6-4273-bc45-39d4dfd3c15b.eot?#iefix')
      format('eot'),
    url('../../assets/fonts/17b90ef5-b63f-457b-a981-503bb7afe3c0.woff2')
      format('woff2'),
    url('../../assets/fonts/c9aeeabd-dd65-491d-b4be-3e0db9ae47a0.woff')
      format('woff'),
    url('../../assets/fonts/25f994de-d13f-4a5d-a82b-bf925a1e054d.ttf')
      format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Avenir';
  src: url('../../assets/fonts/6af9989e-235b-4c75-8c08-a83bdaef3f66.eot?#iefix');
  src: url('../../assets/fonts/6af9989e-235b-4c75-8c08-a83bdaef3f66.eot?#iefix')
      format('eot'),
    url('../../assets/fonts/d513e15e-8f35-4129-ad05-481815e52625.woff2')
      format('woff2'),
    url('../../assets/fonts/61bd362e-7162-46bd-b67e-28f366c4afbe.woff')
      format('woff'),
    url('../../assets/fonts/ccd17c6b-e7ed-4b73-b0d2-76712a4ef46b.ttf')
      format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Avenir';
  src: url('../../assets/fonts/6af9989e-235b-4c75-8c08-a83bdaef3f66.eot?#iefix');
  src: url('../../assets/fonts/6af9989e-235b-4c75-8c08-a83bdaef3f66.eot?#iefix')
      format('eot'),
    url('../../assets/fonts/d513e15e-8f35-4129-ad05-481815e52625.woff2')
      format('woff2'),
    url('../../assets/fonts/61bd362e-7162-46bd-b67e-28f366c4afbe.woff')
      format('woff'),
    url('../../assets/fonts/ccd17c6b-e7ed-4b73-b0d2-76712a4ef46b.ttf')
      format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Avenir';
  src: url('../../assets/fonts/6af9989e-235b-4c75-8c08-a83bdaef3f66.eot?#iefix');
  src: url('../../assets/fonts/6af9989e-235b-4c75-8c08-a83bdaef3f66.eot?#iefix')
      format('eot'),
    url('../../assets/fonts/d513e15e-8f35-4129-ad05-481815e52625.woff2')
      format('woff2'),
    url('../../assets/fonts/61bd362e-7162-46bd-b67e-28f366c4afbe.woff')
      format('woff'),
    url('../../assets/fonts/ccd17c6b-e7ed-4b73-b0d2-76712a4ef46b.ttf')
      format('truetype');
  font-weight: 800;
}

@font-face {
  font-family: 'Avenir';
  src: url('../../assets/fonts/6af9989e-235b-4c75-8c08-a83bdaef3f66.eot?#iefix');
  src: url('../../assets/fonts/6af9989e-235b-4c75-8c08-a83bdaef3f66.eot?#iefix')
      format('eot'),
    url('../../assets/fonts/d513e15e-8f35-4129-ad05-481815e52625.woff2')
      format('woff2'),
    url('../../assets/fonts/61bd362e-7162-46bd-b67e-28f366c4afbe.woff')
      format('woff'),
    url('../../assets/fonts/ccd17c6b-e7ed-4b73-b0d2-76712a4ef46b.ttf')
      format('truetype');
  font-weight: 900;
}

@font-face {
  font-family: 'Avenir Black';
  src: url('../../assets/fonts/f55e4498-ad48-4577-93a0-c614de5cbbb8.eot?#iefix');
  src: url('../../assets/fonts/f55e4498-ad48-4577-93a0-c614de5cbbb8.eot?#iefix')
      format('eot'),
    url('../../assets/fonts/c78eb7af-a1c8-4892-974b-52379646fef4.woff2')
      format('woff2'),
    url('../../assets/fonts/75b36c58-2a02-4057-a537-09af0832ae46.woff')
      format('woff'),
    url('../../assets/fonts/b5c44a82-eeb8-41de-9c3f-a8db50b24b8a.ttf')
      format('truetype');
}

@font-face {
  font-family: 'icons';
  src: url('../../assets/fonts/icons.eot');
  src: url('../../assets/fonts/icons.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/icons.woff') format('woff'),
    url('../../assets/fonts/icons.ttf') format('truetype'),
    url('../../assets/fonts/icons.svg#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[data-icon]::before {
  font-family: 'icons' !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^='icon-']::before,
[class*=' icon-']::before {
  font-family: 'icons' !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-add:before {
  content: "\61";
}
.icon-add-address-name:before {
  content: "\64";
}
.icon-android:before {
  content: "\65";
}
.icon-apple:before {
  content: "\66";
}
.icon-arrow-back:before {
  content: "\67";
}
.icon-arrow-down:before {
  content: "\6a";
}
.icon-arrow-drop-down:before {
  content: "\6b";
}
.icon-arrow-drop-up:before {
  content: "\6c";
}
.icon-arrow-forward:before {
  content: "\6d";
}
.icon-arrow-up:before {
  content: "\6e";
}
.icon-assignment:before {
  content: "\6f";
}
.icon-attach-file:before {
  content: "\70";
}
.icon-blox-icon-60-x-60:before {
  content: "\71";
}
.icon-build:before {
  content: "\72";
}
.icon-bulk-classify:before {
  content: "\73";
}
.icon-camera:before {
  content: "\74";
}
.icon-cancel:before {
  content: "\75";
}
.icon-checked-all:before {
  content: "\76";
}
.icon-code:before {
  content: "\77";
}
.icon-coffee-break:before {
  content: "\78";
}
.icon-coin-page-search:before {
  content: "\79";
}
.icon-collapse-expanded:before {
  content: "\42";
}
.icon-csv-file:before {
  content: "\43";
}
.icon-dashboard:before {
  content: "\45";
}
.icon-data-usage:before {
  content: "\46";
}
.icon-date-range:before {
  content: "\47";
}
.icon-delete:before {
  content: "\48";
}
.icon-description:before {
  content: "\49";
}
.icon-exchange:before {
  content: "\4a";
}
.icon-exclude:before {
  content: "\4b";
}
.icon-expand-collapsed:before {
  content: "\4c";
}
.icon-fb:before {
  content: "\4d";
}
.icon-feedback:before {
  content: "\4e";
}
.icon-file-download:before {
  content: "\4f";
}
.icon-fullscreen:before {
  content: "\50";
}
.icon-fullscreen-exit:before {
  content: "\51";
}
.icon-google:before {
  content: "\52";
}
.icon-graph-area:before {
  content: "\53";
}
.icon-graph-candle:before {
  content: "\54";
}
.icon-graph-draw-line:before {
  content: "\55";
}
.icon-history:before {
  content: "\56";
}
.icon-infinity:before {
  content: "\57";
}
.icon-info:before {
  content: "\58";
}
.icon-language:before {
  content: "\59";
}
.icon-laptop:before {
  content: "\5a";
}
.icon-library-books:before {
  content: "\30";
}
.icon-link:before {
  content: "\31";
}
.icon-linkedin:before {
  content: "\32";
}
.icon-location-on:before {
  content: "\33";
}
.icon-lock-open:before {
  content: "\34";
}
.icon-mac-command:before {
  content: "\35";
}
.icon-mail:before {
  content: "\36";
}
.icon-mic:before {
  content: "\37";
}
.icon-minus:before {
  content: "\38";
}
.icon-move-tx:before {
  content: "\39";
}
.icon-notifications:before {
  content: "\21";
}
.icon-ondemand-video:before {
  content: "\22";
}
.icon-order:before {
  content: "\23";
}
.icon-people:before {
  content: "\24";
}
.icon-person:before {
  content: "\25";
}
.icon-phonelink:before {
  content: "\26";
}
.icon-plus-minus:before {
  content: "\27";
}
.icon-portfolio:before {
  content: "\28";
}
.icon-quicktimes-icon-16-x-16:before {
  content: "\29";
}
.icon-reaction-poll:before {
  content: "\2a";
}
.icon-reddit:before {
  content: "\2b";
}
.icon-reorder:before {
  content: "\2c";
}
.icon-search:before {
  content: "\2d";
}
.icon-setting:before {
  content: "\2e";
}
.icon-share:before {
  content: "\2f";
}
.icon-show-chart:before {
  content: "\3a";
}
.icon-smart-phone:before {
  content: "\3b";
}
.icon-sync:before {
  content: "\3d";
}
.icon-telegram:before {
  content: "\3e";
}
.icon-to-calculate:before {
  content: "\3f";
}
.icon-to-review:before {
  content: "\40";
}
.icon-tour:before {
  content: "\5b";
}
.icon-transfer:before {
  content: "\5d";
}
.icon-twitter:before {
  content: "\5e";
}
.icon-uncheck:before {
  content: "\5f";
}
.icon-verified-user:before {
  content: "\60";
}
.icon-visibility-off:before {
  content: "\7b";
}
.icon-wallet:before {
  content: "\7c";
}
.icon-wechat:before {
  content: "\7d";
}
.icon-weibo:before {
  content: "\7e";
}
.icon-whatsapp:before {
  content: "\5c";
}
.icon-whatshot:before {
  content: "\e000";
}
.icon-xero-icon-16-x-16:before {
  content: "\e001";
}
.icon-youtube:before {
  content: "\e002";
}
.icon-audit-trail:before {
  content: "\e003";
}
.icon-close:before {
  content: "\e005";
}
.icon-chevron-right:before {
  content: "\e006";
}
.icon-chevron-left:before {
  content: "\e007";
}
.icon-checked-cirlce:before {
  content: "\e008";
}
.icon-check:before {
  content: "\e009";
}
.icon-expand-less:before {
  content: "\e00a";
}
.icon-eye:before {
  content: "\e00b";
}
.icon-expand-more:before {
  content: "\e00c";
}
.icon-filter:before {
  content: "\e00d";
}
.icon-first-page:before {
  content: "\e00e";
}
.icon-copy:before {
  content: "\e00f";
}
.icon-edit:before {
  content: "\e010";
}
.icon-last-page:before {
  content: "\e011";
}
.icon-help:before {
  content: "\e012";
}
.icon-lock:before {
  content: "\e013";
}
.icon-more-vert:before {
  content: "\e014";
}
.icon-refresh:before {
  content: "\e015";
}
.icon-report:before {
  content: "\e016";
}
.icon-sorting-up:before {
  content: "\3c";
}
.icon-star:before {
  content: "\e017";
}
.icon-private-protected:before {
  content: "\e018";
}
.icon-sorting-down:before {
  content: "\e019";
}
.icon-sorting:before {
  content: "\e01a";
}
.icon-cloud-upload:before {
  content: "\62";
}
.icon-generate-seed-icon:before {
  content: "\63";
}
.icon-export:before {
  content: "\68";
}
.icon-discord-symbol:before {
  content: "\69";
}
.icon-eth-icon-colors:before {
  content: "\41";
}
.icon-graph:before {
  content: "\44";
}
.icon-key:before {
  content: "\e004";
}
.icon-plugnplay:before {
  content: "\e01b";
}
.icon-settings:before {
  content: "\e01c";
}
